<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer|Laminas\Form\View\HelperTrait $this
 */
/** @var \Fundela\Food\Form\Recipe\FoodRecipeForm $recipeForm */
$recipeForm = $this->foodRecipeForm;
?>
<?= $this->headTitle('Recipe form') ?>
<div id="app">
    <div class="w3-row">
        <div class="w3-col">
            <div class="w3-card-4 food-card">
                <header class="w3-center">
                    <h3>Rezept <?php echo $this->isNew ? 'New' : '' ?></h3>
                </header>
                <div class="w3-container">
                    <?php $recipeForm->prepare() ?>
                    <?= $this->form()->openTag($recipeForm) ?>
                    <?= $this->formRow($recipeForm->get('recipe_form_type')) ?>
                    <?php echo $this->recipeUuid ? $this->formRow($recipeForm->get('food_recipe_uuid')) : '' ?>
                    <?= $this->formRow($recipeForm->get('food_recipe_label')) ?>
                    <?= $this->formRow($recipeForm->get('food_recipe_alias')) ?>
                    <?= $this->formRow($recipeForm->get('food_recipe_instrctn')) ?>

                    <?= $this->formRow($recipeForm->get('food_recipe_meta_title')) ?>
                    <?= $this->formRow($recipeForm->get('food_recipe_meta_keywords')) ?>
                    <?= $this->formRow($recipeForm->get('food_recipe_meta_desc')) ?>

                    <?= $this->formRow($recipeForm->get('food_recipe_prep_time')) ?>
                    <?= $this->formRow($recipeForm->get('food_recipe_cook_time')) ?>
                    <?= $this->formRow($recipeForm->get('food_recipe_yield')) ?>

                    <?= $this->formRow($recipeForm->get('submit')) ?>
                    <?= $this->formRow($recipeForm->get('submit_back')) ?>
                    <?= $this->form()->closeTag() ?>
                    <br>
                    <?php if ($this->recipeAlias): ?>
                        <a href="<?= $this->url('fundela_foodfront_food_foodrecipefront_recipe', ['recipe_alias' => $this->recipeAlias]) ?>"
                           class="w3-button w3-blue-gray">Vorschau</a>
                    <?php endif; ?>
                </div>
            </div>
        </div>

        <?php if (!$this->isNew) : ?>
        <div class="w3-col">
            <div class="w3-card-4 food-card">
                <header class="w3-center">
                    <h3>Zutaten </h3>
                </header>
                <div class="w3-container">
                    <div class="w3-responsive">
                        <table class="w3-table w3-table-all food-bg-secondary">
                            <tbody id="sortable-raws">
                            <!--                            <tr>-->
                            <!--                                <td colspan="5">-->
                            <!--                                    <pre>{{recipeParts}}</pre>-->
                            <!--                                </td>-->
                            <!--                            </tr>-->
                            <tr v-for="recipePart in recipeParts" v-if="recipePart?.food_recipe_part_uuid !== ''"
                                :id="recipePart?.food_recipe_part_uuid">
                                <td style="min-width: 180px">
                                    <div class="w3-bar">
                                        <button type="button" class="w3-bar-item w3-red"
                                                v-on:click="deleteFootRecipePart(recipePart?.food_recipe_part_uuid, recipePart?.food_raw_name_de)">
                                            <i class="fas fa-times"></i></button>
                                        <span class="w3-bar-item">&nbsp;</span>
                                        <button type="button" class="w3-bar-item w3-blue-gray"
                                                v-on:click="openEditFoodRecipePartModal(recipePart?.food_recipe_part_uuid, recipePart?.food_raw_name_de, recipePart?.food_recipe_part_qntty, recipePart?.food_recipe_part_comment, recipePart?.quantityunit_label)">
                                            <i class="far fa-edit"></i></button>
                                    </div>
                                </td>
                                <td v-html="recipePart?.food_recipe_part_qntty" style="width: 60px; text-align: right"></td>
                                <td v-html="recipePart?.quantityunit_label" style="width: 40px"></td>
                                <td v-html="recipePart?.food_raw_name_de" style="width: 300px"></td>
                                <td v-html="recipePart?.food_recipe_part_comment"></td>
                            </tr>
                            <tr v-else>
                                <td colspan="6" class="w3-center">nix</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button onclick="document.getElementById('add_raw_modal').style.display = 'block'"
                            class="w3-button w3-right w3-blue-gray"><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>

        <div class="w3-col">
            <div class="w3-card-4 food-card">
                <header class="w3-center"><h3>Bilder</h3></header>
                <div class="w3-row">
                    <div class="w3-col l6">
                        <form class="w3-container">
                            <label for="image_image">JPG Bild</label>
                            <input type="file" name="image_image" id="image_image" class="w3-input" @change="changedRecipeImage($event)">
                            <label for="image_label">Label</label>
                            <input type="text" name="image_label" id="image_label" class="w3-input" v-model="recipeImage.image_label">
                            <label for="image_desc">Beschreibung</label>
                            <textarea name="image_desc" id="image_desc" class="w3-input" v-model="recipeImage.image_desc"></textarea>
                            <button type="button" class="w3-button w3-blue-gray" v-on:click="submitRecipeImage()">Speichern</button>
                        </form>
                    </div>
                    <div class="w3-col l6">
                        <div v-if="recipeImages[0]?.image_id > 0" v-for="recImg in recipeImages" class="inline">
                            <div class="w3-border w3-padding">
                                <a v-bind:href="recImg.image_rel_paths_m2s['512']" :data-lightbox="'recipe-image'" :data-title="recImg.image_label">
                                    <img v-bind:src="recImg.image_rel_paths_m2s['256']" v-bind:alt="recImg.image_label">
                                </a>
                                <footer class="w3-bar">
                                    <span class="w3-bar-item">ID: {{recImg.image_id}}</span>
                                    <span class="w3-bar-item"></span>
                                    <button type="button" class="w3-bar-item w3-red" v-on:click="deleteRecipeImage(recImg.image_id)"><i
                                                class="fas fa-times"></i></button>
                                    <span class="w3-bar-item"></span>
                                    <button type="button" class="w3-bar-item w3-blue-gray"><i class="far fa-edit"></i></button>
                                    <span class="w3-bar-item"></span>
                                    <input type="number" step="10" class="w3-bar-item input-number-4" size="4"
                                           v-bind:value="recImg.food_recipe_image_rel_order_priority">
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w3-col">
            <div class="w3-card-4 food-card">
                <header class="w3-center"><h3>Kategorien</h3></header>
                <div class="w3-row" id="drag-drop-area">
                    <div class="w3-col l6">
                        <div class="w3-container">
                            <h4>aktuell <i class="far fa-question-circle cursor-help" title="In diesen Kategorien findet man das Rezept."></i></h4>
                            <ul v-if="recipeCategories.length > 0 && recipeCategories[0].food_recipe_category_id > 0" class="w3-ul">
                                <li v-for="recipeCategory in recipeCategories" class="w3-bar">
                                    <button class="w3-bar-item w3-red"
                                            v-on:click="deleteRecipeCategoryRel(recipeCategory.food_recipe_category_rel_id)">
                                        <i class="fas fa-times"></i></button>
                                    &nbsp;
                                    {{recipeCategory.food_recipe_category_label}}
                                </li>
                            </ul>
                            <br>
                            <div id="cat_droppable" class="w3-input input-background">
                                <i class="fas fa-download"></i>&nbsp;drop Kategorie hier
                            </div>
                        </div>
                    </div>
                    <div class="w3-col l6">
                        <div class="w3-container">
                            <h4>vorhanden <i class="far fa-question-circle cursor-help"
                                             title="Per Drag and Drop Kategorien von hier zu den aktuellen ziehen."></i></h4>
                            <ul v-if="recipeCategoriesRest.length > 0 && recipeCategoriesRest[0].food_recipe_category_id > 0" class="w3-ul">
                                <li v-for="recipeCategory in recipeCategoriesRest" class="cat-draggable cursor-move"
                                    :id="recipeCategory.food_recipe_category_id">
                                    {{recipeCategory.food_recipe_category_label}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <?php // ################################ modal ################################ ?>

    <div id="add_raw_modal" class="w3-modal">
        <div class="w3-modal-content  food-bg-secondary">
            <header class="w3-container">
            <span onclick="document.getElementById('add_raw_modal').style.display='none'"
                  class="w3-button w3-display-topright"><i class="fas fa-times"></i></span>
                <h2>add Zutat</h2>
            </header>
            <div class="w3-container">
                <div class="w3-bar">
                    <form>
                        <input type="text" name="raw_name" class="w3-input w3-bar-item" style="width: 200px">
                        <span class="w3-bar-item">&nbsp;</span>
                        <select class="w3-select w3-bar-item" v-if="rawCategoryAssoc" v-model="rawCategorySelected">
                            <option v-for="[key, value] of rawCategoryAssoc" :value="key">{{ value }}</option>
                        </select>
                        <button type="button" v-on:click="searchFoodRaws" class="w3-button w3-blue-gray w3-right">search</button>
                    </form>
                </div>
                <form>
                    <table class="w3-table w3-table-all food-bg-secondary">
                        <thead>
                        <tr>
                            <th style="width: 42px"></th>
                            <th>name de</th>
                            <th>name scient</th>
                            <th>desc</th>
                            <th title="Quantityunit / Maßeinheit">qu</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="raw in raws" v-if="raw?.food_raw_uuid !== ''">
                            <td class="padding-clear">
                                &nbsp;
                                <input type="radio" class="w3-radio w3-bar-item" name="raw_uuid[]" v-bind:value="raw.food_raw_uuid"
                                       v-on:click="showQuantityunitLabel(raw.quantityunit_label)">
                            </td>
                            <td v-html="raw.food_raw_name_de"></td>
                            <td v-html="raw.food_raw_name_scient"></td>
                            <td v-html="raw.food_raw_desc"></td>
                            <td v-html="raw.quantityunit_label"></td>
                        </tr>
                        <tr v-else>
                            <td colspan="6" class="w3-center">nix</td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                <div>&nbsp;</div>
                <?= $this->form($this->foodRecipePartForm) ?>
                <div>&nbsp;</div>
                <button class="w3-button w3-blue-gray" v-on:click="insertFoodRecipePart">submit</button>
            </div>
            <footer>&nbsp;</footer>
        </div>
    </div>

    <div id="edit_part_modal" class="w3-modal">
        <div class="w3-modal-content  food-bg-secondary">
            <header class="w3-container">
            <span onclick="document.getElementById('edit_part_modal').style.display='none'"
                  class="w3-button w3-display-topright"><i class="fas fa-times"></i></span>
                <h2>edit Menge {{editRecipePartName}}</h2>
            </header>
            <div class="w3-container">
                <form>
                    <label><span>Menge in {{ editRecipePartQnttyUnitLabel }}</span>
                        <input type="text" name="edit_part_qntty" class="w3-input" v-model="editRecipePartQntty">
                    </label>
                    <label><span>Comment</span>
                        <input type="text" name="edit_part_comment" class="w3-input" v-model="editRecipePartComment">
                    </label>
                    <input type="submit" name="submit" class="w3-button w3-blue-gray" v-on:click="updateFoodRecipePartQuantity($event)">
                </form>
            </div>
            <footer>&nbsp;</footer>
        </div>
    </div>

    <?php endif; ?>
</div>

<script type="module">
    import {glueFormMessages, clearMessagesOnElements, displayMessage} from '/js/app/modules/common-gui.js';

    const FormApp = {
        data() {
            return {
                recipeUuid: '<?= $this->recipeUuid ?>',
                loaded: '<?= $this->loaded ?>',
                imgBaseFolder: '/img/fundela',
                recipePart: {}, // because: vuejs roperty "foo" was accessed during render but is not defined on instance.
                raw: {}, // because: vuejs roperty "foo" was accessed during render but is not defined on instance.
                recipeParts: [
                    {
                        food_recipe_part_uuid: '',
                        food_recipe_uuid: '',
                        food_recipe_part_qntty: '',
                        food_recipe_part_comment: '',
                        food_recipe_part_order_priority: 0,
                        food_raw_uuid: '',
                        food_raw_name_de: '',
                        food_raw_name_en: '',
                        food_raw_name_scient: '',
                        food_raw_desc: '',
                        quantityunit_uuid: '',
                        quantityunit_label: '',
                    }
                ],
                raws: [
                    {
                        food_raw_uuid: '',
                        food_raw_name_de: '',
                        food_raw_name_en: '',
                        food_raw_name_scient: '',
                        food_raw_desc: '',
                        quantityunit_uuid: '',
                        quantityunit_label: '',
                    }
                ],
                rawCategoryAssoc: null,
                rawCategorySelected: '',
                recipeImages: [
                    {
                        'food_recipe_image_rel_id': 0,
                        'food_recipe_image_rel_order_priority': 0,
                        'food_recipe_uuid': '',
                        'food_recipe_label': '',
                        'food_recipe_alias': '',
                        'food_recipe_instrctn': '',
                        'user_uuid': '',
                        'food_recipe_ingrdnt_01': 0,
                        'food_recipe_ingrdnt_02': 0,
                        'food_recipe_ingrdnt_03': 0,
                        'food_recipe_ingrdnt_04': 0,
                        'food_recipe_meta_title': '',
                        'food_recipe_meta_keywords': '',
                        'food_recipe_meta_desc': '',
                        'image_id': 0,
                        'image_label': '',
                        'image_desc': '',
                        'image_filename': '',
                        'image_ext': '',
                        'image_scaling': '',
                        'image_time_create': '',
                        'image_rel_path': '',
                        'image_rel_paths_m2s': {
                            '1024': '',
                            '512': '',
                            '256': '',
                            '128': '',
                            '64': '',
                            '32': '',
                            '16': '',
                        }
                    }
                ],
                recipeImage: {
                    image_image: [],
                    image_label: '',
                    image_desc: '',
                },
                recipeCategories: [
                    {
                        'food_recipe_category_rel_id': 0,
                        'food_recipe_category_id': 0,
                        'food_recipe_uuid': '',
                        'food_recipe_category_label': '',
                        'food_recipe_category_desc': ''
                    }
                ],
                recipeCategoriesRest: [
                    {
                        'food_recipe_category_rel_id': 0,
                        'food_recipe_category_id': 0,
                        'food_recipe_uuid': '',
                        'food_recipe_category_label': '',
                        'food_recipe_category_desc': ''
                    }
                ],
                editRecipePartUuid: '',
                editRecipePartName: '',
                editRecipePartQntty: 0,
                editRecipePartComment: '',
                editRecipePartQnttyUnitLabel: '',
            };
        },
        created() {
            this.loadRawCategoryAssoc();
            if (this.recipeUuid) {
                this.loadFoodRecipeParts();
                this.loadRecipeImages();
                this.loadRecipeCategories();
            }
        },
        mounted() {
            if (!this.recipeUuid) {
                return;
            }
            $('input[name="food_recipe_uuid"]').val(this.recipeUuid);
            $('#sortable-raws').sortable({
                axis: 'y',
                cursor: 'move',
                update: function (event, ui) {
                    let trs = [];
                    $($(this).children()).each(function (i, e) {
                        trs.push($(e).attr('id'));
                    });
                    $.ajax({
                        url: '/apix-food-recipepart-orderpriority/' + trs,
                        success: function (data, textStatus, jqXHR) {
                            if (data.success === 1) {
                                displayMessage('Sortierung gespeichert.', 'success');
                            }
                        }
                    });
                }
            });
        },
        updated() {
            const app = this;
            $('.cat-draggable').draggable({
                revert: 'invalid',
                helper: 'clone', // one zieht es immer das naechste Element irgendwo hin!
                containment: '#drag-drop-area',
            });
            $('#cat_droppable').droppable({
                drop: function (event, ui) {
                    app.insertRecipeCategoryRel(ui.draggable[0].id);
                }
            });
        },
        methods: {
            loadFoodRecipeParts() {
                const app = this;
                $.ajax({
                    url: '/api-food-recipe-part/' + this.recipeUuid,
                    success: function (data, textStatus, jqXHR) {
                        if (data.arr) {
                            app.recipeParts = data.arr;
                        }
                    }
                });
            },
            deleteFootRecipePart(recipePartUuid, recipePartName) {
                if (!confirm(recipePartName + ' löschen?')) {
                    return;
                }
                const app = this;
                $.ajax({
                    method: 'delete',
                    url: '/api-food-recipe-part/' + recipePartUuid,
                    success: function (data, textStatus, jqXHR) {
                        if (data.success === 1) {
                            app.loadFoodRecipeParts();
                        }
                    }
                });
            },
            loadRecipeImages() {
                const app = this;
                $.ajax({
                    method: 'get',
                    url: '/apix-food-recipe-images/' + this.recipeUuid,
                    success: function (data, textStatus, jqXHR) {
                        if (data.arr) {
                            app.recipeImages = data.arr;
                        }
                    }
                });
            },
            loadRecipeCategories() {
                const app = this;
                $.ajax({
                    method: 'get',
                    url: '/apix-food-recipe-categories/' + this.recipeUuid,
                    success: function (data, textStatus, jqXHR) {
                        if (data.success === 1) {
                            app.recipeCategories = data.cats;
                            app.recipeCategoriesRest = data.catsRest;
                        }
                    }
                });
            },
            insertRecipeCategoryRel(catId) {
                const app = this;
                $.ajax({
                    method: 'get',
                    url: '/apix-food-recipe-category-insert/' + this.recipeUuid + '/' + catId,
                    success: function (data, textStatus, jqXHR) {
                        if (data.success === 1) {
                            app.loadRecipeCategories();
                        }
                    }
                });
            },
            deleteRecipeCategoryRel(relid) {
                const app = this;
                $.ajax({
                    method: 'get',
                    url: '/apix-food-recipe-category-delete/' + relid,
                    success: function (data, textStatus, jqXHR) {
                        if (data.success === 1) {
                            app.loadRecipeCategories();
                        }
                    }
                });
            },
            loadRawCategoryAssoc() {
                const app = this;
                app.rawCategoryAssoc = new Map();
                fetch('/apix-food-raw-category-assoc')
                    .then((response) => {
                        const assoc = response.obj;
                        if (assoc) {
                            const keys = Object.keys(assoc);
                            for (const key of keys) {
                                app.rawCategoryAssoc.set(key, assoc[key]);
                            }
                        }
                    });
                $.ajax({
                    url: '/apix-food-raw-category-assoc',
                    success: function (data, textStatus, jqXHR) {
                        const assoc = data.obj;
                        if (assoc) {
                            const keys = Object.keys(assoc);
                            for (const key of keys) {
                                app.rawCategoryAssoc.set(key, assoc[key]);
                            }
                        }
                    }
                });
            },
            searchFoodRaws() {
                if (!this.recipeUuid) {
                    throw new Error('Call searchFoodRaws() with empty this.recipeUuid');
                }
                const app = this;
                let query = '?raw_name=' + $('input[name="raw_name"]').val();
                query += '&recipe_uuid=' + this.recipeUuid;
                query += '&raw_cat=' + this.rawCategorySelected.substr(1);
                $.ajax({
                    url: '/apix-food-raw-search' + query,
                    success: function (data, textStatus, jqXHR) {
                        if (data.arr) {
                            app.raws = data.arr;
                        }
                    }
                });
            },
            insertFoodRecipePart() {
                clearMessagesOnElements();
                const app = this;
                const data = new FormData();
                const elemRawUuid = document.querySelector('input[name="raw_uuid[]"]:checked');
                if (!elemRawUuid) {
                    return;
                }
                data.append('food_recipe_uuid', this.recipeUuid);
                data.append('food_raw_uuid', elemRawUuid.value);
                data.append('food_recipe_part_qntty', document.querySelector('input[name="food_recipe_part_qntty"]').value);
                data.append('food_recipe_part_comment', document.querySelector('input[name="food_recipe_part_comment"]').value);
                $.ajax({
                    method: 'post',
                    url: '/api-food-recipe-part',
                    data: data,
                    processData: false, // wegen FormData
                    contentType: false, // wegen FormData
                    success: function (data, textStatus, jqXHR) {
                        if (data.success === 1) {
                            app.resetFoodRecipePartForm();
                            app.loadFoodRecipeParts();
                        } else if (data.messages) {
                            glueFormMessages(data.messages);
                        }
                    }
                });
            },
            resetFoodRecipePartForm() {
                this.raws = [];
                // $('input[name="raw_uuid[]"]').attr('checked', false);
                document.querySelector('input[name="food_recipe_part_qntty"]').value = '';
                document.querySelector('input[name="food_recipe_part_comment"]').value = '';
            },
            openEditFoodRecipePartModal(recipePartUuid, rawName, recipePartQntty, recipePartComment, recipePartQnttyUnitLabel) {
                this.editRecipePartUuid = recipePartUuid;
                this.editRecipePartName = rawName;
                this.editRecipePartQntty = recipePartQntty;
                this.editRecipePartComment = recipePartComment;
                this.editRecipePartQnttyUnitLabel = recipePartQnttyUnitLabel;
                document.getElementById('edit_part_modal').style.display = 'block';
            },
            updateFoodRecipePartQuantity: function (event) {
                event.preventDefault();
                const app = this;
                const data = new FormData();
                data.append('part_qntty', this.editRecipePartQntty);
                $.ajax({
                    method: 'PUT',
                    url: '/api-food-recipe-part/' + this.editRecipePartUuid,
                    data: {part_qntty: this.editRecipePartQntty, part_comment: this.editRecipePartComment},
                    // processData: false, // wegen FormData
                    // contentType: false, // wegen FormData
                    success: function (data, textStatus, jqXHR) {
                        if (data.success === 1) {
                            app.loadFoodRecipeParts();
                        }
                    }
                });
            },
            showQuantityunitLabel(label) {
                document.getElementById('food_recipe_part_qntty_label').innerText = 'Menge in ' + label;
            },
            changedRecipeImage(event) {
                this.recipeImage.image_image = event.target.files[0];
            },
            submitRecipeImage() {
                const app = this;
                let formData = new FormData();
                formData.append('image_image', this.recipeImage.image_image);
                formData.append('image_label', this.recipeImage.image_label);
                formData.append('image_desc', this.recipeImage.image_desc);
                formData.append('recipe_uuid', this.recipeUuid);
                $.ajax({
                    method: 'post',
                    url: '/apix-food-recipe-upload-image',
                    data: formData,
                    processData: false, // wegen FormData
                    contentType: false, // wegen FormData
                    success: function (data, textStatus, jqXHR) {
                        if (data.success === 1) {
                            clearMessagesOnElements();
                            app.loadRecipeImages();
                        } else if (data.messages) {
                            glueFormMessages(data.messages);
                        }
                    }
                });
            },
            deleteRecipeImage(imageId) {
                if (!confirm('Bild ' + imageId + ' komplett löschen?')) {
                    return;
                }
                const app = this;
                $.ajax({
                    method: 'delete',
                    url: '/apix-food-recipe-delete-image/' + this.recipeUuid + '/' + imageId,
                    success: function (data, textStatus, jqXHR) {
                        app.loadRecipeImages();
                    }
                });
            },
        },
        filters: {
            pretty: function (value) {
                return JSON.stringify(value, null, 2);
            }
        }
    }
    Vue.createApp(FormApp).mount("#app");
</script>


