<div class="w3-bar w3-blue-gray">
  <!-- links Pfeil -->
    <?php if (isset($this->previous)) { ?>
      <a href="<?= $this->url($this->route) ?>?<?= $this->listQueryBase->getAsQueryParams(-1) ?>" class="w3-button">&laquo;</a>
    <?php } else { ?>
      <a class="disabled w3-button">&laquo;</a>
    <?php } ?>

  <!-- Seiten -->
    <?php foreach ($this->pagesInRange as $page) { ?>
    <?php if ($page != $this->current) { ?>
      <a href="<?= $this->url($this->route) ?>?<?= $this->listQueryBase->getAsQueryParams(0, $page) ?>" class="w3-button"><?= $page ?></a>
    <?php } else { ?>
  <a class="active w3-button"><?= $page; ?>
      <?php } ?>
      <?php } ?>

    <!-- rechts Pfeil -->
      <?php if (isset($this->next)) { ?>
        <a href="<?= $this->url($this->route) ?>?<?= $this->listQueryBase->getAsQueryParams(1) ?>" class="w3-button">&raquo;</a>
      <?php } else { ?>
        <a class="disabled w3-button">&raquo;</a>
      <?php } ?>
</div>
