<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 */
$this->headTitle($this->translate('recipes all', 'food'));
?>
<?php if (!empty($this->recipes)): ?>
    <div class="w3-responsive">
        <table class="w3-table w3-table-all food-bg-secondary">
            <thead>
            <tr>
                <th><strong><?= $this->translate('recipes all', 'food') ?></strong></th>
                <th class="" data-sort="label">Name</th>
                <th class="w3-right-align"><?= $this->ingrdntIdMapping['food_recipe_ingrdnt_01'] ?> kJ/100
                </th>
                <th class="w3-right-align"><?= $this->ingrdntIdMapping['food_recipe_ingrdnt_02'] ?> g/100</th>
                <th class="w3-right-align"><?= $this->ingrdntIdMapping['food_recipe_ingrdnt_03'] ?> g/100</th>
                <th class="w3-right-align"><?= $this->ingrdntIdMapping['food_recipe_ingrdnt_04'] ?> g/100</th>
                <th class="w3-right-align"><?= $this->ingrdntIdMapping['food_recipe_ingrdnt_05'] ?> g/100</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($this->recipes as $recipe): ?>
                <tr>
                    <td>
                        <a href="<?= $this->imageSrc($recipe, ['m2s' => 512]) ?>"
                           data-lightbox="<?= $recipe['food_recipe_uuid'] ?>"
                           data-title="<?= $recipe['image_desc'] ?>">
                            <img src="<?= $this->imageSrc($recipe, ['m2s' => 64]) ?>"
                                 alt="<?= $recipe['image_label'] ?>">
                        </a>
                    </td>
                    <td>
                        <a href="<?= $this->url('fundela_foodfront_food_foodrecipefront_recipe', ['recipe_alias' => $recipe['food_recipe_alias']]) ?>"
                           class="w3-xlarge">
                            <?= $recipe['food_recipe_label'] ?>
                            &nbsp;<i class="fas fa-angle-double-right"></i>
                        </a>
                    </td>
                    <td class="w3-right-align"><?= $this->numberFormat($recipe['food_recipe_ingrdnt_01'] ?? 0) ?></td>
                    <td class="w3-right-align"><?= $this->numberFormat($recipe['food_recipe_ingrdnt_02'] ?? 0) ?></td>
                    <td class="w3-right-align"><?= $this->numberFormat($recipe['food_recipe_ingrdnt_03'] ?? 0) ?></td>
                    <td class="w3-right-align"><?= $this->numberFormat($recipe['food_recipe_ingrdnt_04'] ?? 0) ?></td>
                    <td class="w3-right-align"><?= $this->numberFormat($recipe['food_recipe_ingrdnt_05'] ?? 0) ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
<?php else: ?>
    <div class="w3-container w3-center">Keine Rezepte gefunden</div>
<?php endif; ?>
