<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 */
$this->inlineScript()->appendFile($this->basePath('js/app/sortable.js'));
$this->headTitle('Rezepte');
/**
 * @var $lqb \Fundela\Trinket\Entity\Database\ListQueryBase
 */
$lqb = $this->listQueryBase;
?>
<div class="w3-card-4 food-card">
    <header class="w3-bar">
        <form method="post" id="ffr-sort">
            <div class="w3-bar-item w3-padding">
                <strong><?= $this->translate('recipes search', 'food') ?></strong>
            </div>
            <div class="w3-bar-item">
                <label for="recipe_label"></label>
                <input type="text" name="recipe_label" class="w3-input" id="recipe_label"
                       placeholder="<?= $this->translate('search by name', 'food') ?>"
                       value="<?= $this->recipeLabel ?>">
            </div>
            <div class="w3-bar-item">
                <?= $this->simpleSelect($this->categoryIdAssoc, $this->categoryId, 'category_id', 'w3-select', true,
                    $this->translate('filter category', 'food'), 0) ?>
            </div>
            <?php if ($this->isUserInRole(5)): ?>
                <div class="w3-bar-item">
                    <input type="checkbox" class="w3-check" name="only_mine"
                           value="1" <?php echo $this->onlyMine ? 'checked="true"' : '' ?>/>
                    <?= $this->translate('only mine', 'food') ?>
                </div>
            <?php endif; ?>
            <div class="w3-bar-item">
                <button class="w3-button w3-blue-gray">los</button>
            </div>
            <input type="hidden" name="order_field" value="<?= $lqb->getOrderField() ?>">
            <input type="hidden" name="order_direc" value="<?= $lqb->getOrderDirec() ?>">
        </form>
        <div class="w3-bar-item">
            <?= $this->paginationControl(
                $this->paginator,
                'Sliding',
                'pagination/simple-query',
                ['route' => 'fundela_foodfront_food_foodrecipefront_recipes', 'listQueryBase' => $this->listQueryBase]
            ) ?>
        </div>
    </header>
    <?php if (!empty($this->recipes)): ?>
        <div class="w3-responsive">
            <table class="w3-table w3-table-all food-bg-secondary">
                <thead>
                <tr>
                    <th></th>
                    <th class="ffr-sortable" data-sort="label">Name</th>
                    <th class="ffr-sortable w3-right-align"
                        data-sort="ingrdnt_01"><?= $this->ingrdntIdMapping['food_recipe_ingrdnt_01'] ?> kJ/100
                    </th>
                    <th class="ffr-sortable w3-right-align"
                        data-sort="ingrdnt_02"><?= $this->ingrdntIdMapping['food_recipe_ingrdnt_02'] ?> g/100
                    </th>
                    <th class="ffr-sortable w3-right-align"
                        data-sort="ingrdnt_03"><?= $this->ingrdntIdMapping['food_recipe_ingrdnt_03'] ?> g/100
                    </th>
                    <th class="ffr-sortable w3-right-align"
                        data-sort="ingrdnt_04"><?= $this->ingrdntIdMapping['food_recipe_ingrdnt_04'] ?> g/100
                    </th>
                    <th class="ffr-sortable w3-right-align"
                        data-sort="ingrdnt_04"><?= $this->ingrdntIdMapping['food_recipe_ingrdnt_05'] ?> g/100
                    </th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($this->recipes as $recipe): ?>
                    <tr>
                        <td>
                            <a href="<?= $this->imageSrc($recipe, ['m2s' => 512]) ?>"
                               data-lightbox="<?= $recipe['food_recipe_uuid'] ?>"
                               data-title="<?= $recipe['image_desc'] ?>">
                                <img src="<?= $this->imageSrc($recipe, ['m2s' => 64]) ?>"
                                     alt="<?= $recipe['image_label'] ?>">
                            </a>
                        </td>
                        <td>
                            <a href="<?= $this->url('fundela_foodfront_food_foodrecipefront_recipe', ['recipe_alias' => $recipe['food_recipe_alias']]) ?>"
                               class="w3-xlarge">
                                <?= $recipe['food_recipe_label'] ?>
                                &nbsp;<i class="fas fa-angle-double-right"></i>
                            </a>
                        </td>
                        <td class="w3-right-align"><?= $this->numberFormat($recipe['food_recipe_ingrdnt_01'] ?? 0) ?></td>
                        <td class="w3-right-align"><?= $this->numberFormat($recipe['food_recipe_ingrdnt_02'] ?? 0) ?></td>
                        <td class="w3-right-align"><?= $this->numberFormat($recipe['food_recipe_ingrdnt_03'] ?? 0) ?></td>
                        <td class="w3-right-align"><?= $this->numberFormat($recipe['food_recipe_ingrdnt_04'] ?? 0) ?></td>
                        <td class="w3-right-align"><?= $this->numberFormat($recipe['food_recipe_ingrdnt_05'] ?? 0) ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php else: ?>
        <div class="w3-container w3-center">Keine Rezepte gefunden</div>
    <?php endif; ?>
</div>
