<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 */
$this->headTitle($this->recipe['food_recipe_meta_title']);
$this->headMeta()->appendName('keywords', $this->recipe['food_recipe_meta_keywords'])
    ->appendName('description', $this->recipe['food_recipe_meta_desc'])
    ->appendProperty('og:title', $this->recipe['food_recipe_meta_title'])
    ->appendProperty('og:description', $this->recipe['food_recipe_meta_desc'])
    ->appendProperty('og:image', $this->imageSrc($this->images[0] ?? [], ['m2s' => 1024]));
?>
<div class="w3-row">
    <div class="w3-col">
        <div class="w3-card-4 food-card">
            <header class="w3-center">
                <h3><?= $this->recipe['food_recipe_label'] ?></h3>
            </header>
            <div class="w3-container wrap">
                <?php foreach ($this->images as $image): ?>
                    <a href="<?= $this->imageSrc($image, ['m2s' => 1024]) ?>"
                       data-lightbox="<?= $image['food_recipe_uuid'] ?>"
                       data-title="<?= $image['image_desc'] ?>">
                        <img src="<?= $this->imageSrc($image, ['m2s' => 64]) ?>" alt="<?= $image['image_label'] ?>">
                    </a>
                <?php endforeach; ?>
            </div>
            <hr>
            <div class="w3-container wrap">
                <?= $this->recipe['food_recipe_instrctn'] ?>
            </div>
            <hr>
            <div class="w3-container wrap">
                <ul class="w3-ul">
                    <li class="w3-bar"><span class="w3-bar-item" style="width: 150px">Prep Time</span><span
                                class="w3-bar-item"><?= $this->recipe['food_recipe_prep_time'] ?></span></li>
                    <li class="w3-bar"><span class="w3-bar-item" style="width: 150px">Cook Time</span><span
                                class="w3-bar-item"><?= $this->recipe['food_recipe_cook_time'] ?></span></li>
                    <li class="w3-bar"><span class="w3-bar-item" style="width: 150px">Ertrag/yield</span><span
                                class="w3-bar-item"><?= $this->recipe['food_recipe_yield'] ?></span></li>
                </ul>
            </div>

            <?php if ($this->userUuid && ($this->userUuid == $this->recipe['user_uuid'] || $this->isUserInRole(4))): ?>
                <div class="w3-container wrap">
                    <a href="<?= $this->url('fundela_foodback_foodrecipe_form', ['food_recipe_uuid' => $this->recipe['food_recipe_uuid']]) ?>"
                       class="w3-button w3-blue-gray">edit</a>
                </div>
            <?php endif; ?>
        </div>
    </div>
    <div class="w3-col">
        <div class="w3-card-4 food-card">
            <header class="w3-center">
                <h3>Zutaten </h3>
            </header>
            <div class="w3-container">
                <table class="w3-table w3-table-all food-bg-secondary w3-responsive">
                    <tbody>
                    <?php foreach ($this->parts as $part): ?>
                        <tr>
                            <td><?= $part['food_recipe_part_qntty'] ?></td>
                            <td><?= $part['quantityunit_label'] ?></td>
                            <td><?= $part['food_raw_name_de'] ?></td>
                            <td><?= $part['food_raw_desc'] ?></td>
                            <td class="w3-border-left"><?= $part['food_recipe_part_comment'] ?></td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="w3-col">
        <div class="w3-card-4 food-card">
            <header class="w3-center">
                <h3>Nährwerte / 100g</h3>
            </header>
            <div class="w3-container">
                <table class="w3-table w3-table-all food-bg-secondary w3-responsive">
                    <!--          <thead>-->
                    <!--          <tr>-->
                    <!--            <th>Name</th>-->
                    <!--            <th>Wert</th>-->
                    <!--            <th></th>-->
                    <!--          </tr>-->
                    <!--          </thead>-->
                    <tbody>
                    <?php foreach ($this->recipeIngrdntIdMapping as $key => $ingrdntId): ?>
                        <tr>
                            <td><?= $this->ingrdntsIdAssoc[$ingrdntId] ?></td>
                            <td class="w3-right-align"
                            "><?= number_format($this->recipe[$key], 2, ',', '') ?></td>
                            <td><?php echo $ingrdntId == 4 ? 'kJ' : 'g' ?></td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
