@charset "UTF-8";
@font-face {
  /*
  Not necessary because the Ubuntu font is in current browsers
   */
  font-family: "Ubuntu";
  src: url("/font/ubuntu-font-family/Ubuntu-R.ttf");
}
body {
  font-family: Ubuntu, sans-serif;
  font-size: 1.4em;
}

a {
  text-decoration: none !important;
}

button {
  outline: none;
}

.cursor-pointer, button {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.cursor-help {
  cursor: help;
}

.wrap {
  overflow-wrap: break-spaces;
  white-space: normal;
  word-break: break-all;
}

#content_main {
  margin-top: 60px;
}

#footer_main {
  margin-top: 60px;
  padding: 6px 0;
}

.inline {
  display: inline-flex;
}

.block {
  display: block;
}

.ui-sortable tr:hover {
  cursor: move;
}

.ffr-sortable {
  cursor: pointer;
}

.fa-sort {
  margin-left: 4px;
}

form label {
  display: block;
}

label > span {
  padding: 4px 0;
}

::placeholder, ::-webkit-input-placeholder {
  color: black;
}

input.input-number-4 {
  width: 42px !important;
  padding: 4px 2px !important;
}

ul.form-element-error {
  list-style: none;
  padding-left: 2px;
  margin: 4px 0 12px 0;
}

ul.form-element-error li, div.elemessage {
  font-size: 0.8em;
  color: #ff3300;
}

div.display-message {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 42%;
  margin: auto;
}

hr.hr-dropdown {
  margin: 2px -14px 2px 0;
  padding: 0;
}

a[target=_blank] {
  font-weight: bold;
}

a[target=_blank]::after {
  content: " 🡕";
}

.lang-img {
  height: 22px;
  width: auto;
}

.lang-opacity {
  opacity: 0.3;
}

/*# sourceMappingURL=style.css.map */
