Hallo <?= $this->name ?>,<br>
<p>
  du hast dich bei <?= $this->brandName ?> registriert.
  <br>
  <a href="<?= $this->baseUrl . $this->url('fundela_foodfront_user_userbasics_registerverify') . '?hash=' . $this->hash ?>">
    Klicke hier um deine Emailadresse zu verifizieren und deine Registrierung abzuschließen.
  </a>
  <br><br>
  Dein Team von <?= $this->brandName ?>
</p>
