<?= $this->headTitle('Inhaltsstoffe') ?>
<h1>Inhaltsstoffe</h1>
<?php if ($this->ingrdnts): ?>
  <table class="w3-table w3-table-all food-bg-secondary">
    <thead>
    <tr class="">
      <th style="width: 40px">
        <form method="post" style="display: inline-block">
          <input type="text" name="ingrdnt_name" style="width: 100px" value="<?= $this->ingrdntName ?>" class="">
          <button type="submit" class="w3-hide"></button>
        </form>
      </th>
      <th>Name de</th>
      <th>Name en</th>
      <th>Name scient</th>
      <th title="Pflicht für jede Zutat">mandatory</th>
      <th>order prio</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->ingrdnts as $ingrdnt): ?>
      <tr>
        <td>
          <div class="w3-bar">
              <?php if ($this->isUserInRole(2)): ?>
                <button type="button" class="w3-button w3-bar-item w3-red button_ingrdnt_delete"
                        data-ingrdntname="<?= $ingrdnt['food_ingrdnt_name_de'] . '/' . $ingrdnt['food_ingrdnt_name_en'] ?>"
                        data-ingrdntid="<?= $ingrdnt['food_ingrdnt_id'] ?>"><i class="fas fa-times"></i></button>
              <?php endif; ?>
            <a href="<?= $this->url('fundela_foodadmin_ingrdnt_form', ['food_ingrdnt_id' => $ingrdnt['food_ingrdnt_id']]) ?>"
               class="w3-button w3-bar-item w3-blue-gray" style="padding: 4px 8px"><i class="far fa-edit"></i></a>
          </div>
        </td>
        <td><?= $ingrdnt['food_ingrdnt_name_de'] ?></td>
        <td><?= $ingrdnt['food_ingrdnt_name_en'] ?></td>
        <td><?= $ingrdnt['food_ingrdnt_name_scient'] ?></td>
        <td><?= $ingrdnt['food_ingrdnt_require'] ? 'yes' : 'no' ?></td>
        <td>
            <?php if ($this->isUserInRole(2)): ?>
              <div class="w3-bar">
                <input type="number" value="<?= $ingrdnt['food_ingrdnt_order_priority'] ?>" step="10"
                       id="order_priority_<?= $ingrdnt['food_ingrdnt_id'] ?>"
                       class="w3-input w3-bar-item" style="width: 42px">
                <button type="button" class="button_ingrdnt_order_priority w3-button w3-bar-item w3-blue-gray"
                        data-ingrdntid="<?= $ingrdnt['food_ingrdnt_id'] ?>"><i class="far fa-save"></i></button>
              </div>
            <?php endif; ?>
        </td>
      </tr>
    <?php endforeach; ?>
    <tr>
      <td>
        <form method="post">
          <input type="number" step="1" min="2" name="limit_post" style="width: 40px" value="<?= $this->limit ?>" class="w3-input padding-block">
          <button type="submit" class="w3-hide">ok</button>
        </form>
      </td>
      <td colspan="5">
          <?= $this->paginationControl($this->pgntor, 'Sliding', 'pagination/simple-query',
              ['route' => 'fundela_foodadmin_ingrdnt_ingrdnts', 'listQueryBase' => $this->listQueryBase])
          ?>
      </td>
    </tr>
    </tbody>

  </table>
  <script>
      $(document).ready(function () {
          $('button.button_ingrdnt_delete').click(function () {
              const ingrdntId = $(this).data('ingrdntid');
              const ingrdntName = $(this).data('ingrdntname');
              if (!confirm('delete complete ingredient (with all references)?\n' + ingrdntName)) {
                  return;
              }
              $.ajax({
                  method: 'delete',
                  url: 'api-food-ingrdnt/' + ingrdntId,
                  success: function (data, textStatus, jqXHR) {
                      window.location.reload(true);
                  }
              });
          });
          $('button.button_ingrdnt_order_priority').click(function () {
              const ingrdntId = $(this).data('ingrdntid');
              const orderPrio = $('input#order_priority_' + ingrdntId).val();
              $.ajax({
                  method: 'post',
                  url: 'apix-food-ingrdnt-update-orderpriority',
                  data: {ingrdnt_id: ingrdntId, order_priority: orderPrio},
                  success: function (data, textStatus, jqXHR) {
                      if (data.success === 1) {
                          window.location.reload(true);
                      }
                  }
              });
          });
      });
  </script>
<?php else: ?>
  <p>nothing found</p>
<?php endif; ?>
