<?= $this->headTitle('Zutat Form') ?>
<div class="w3-card-4 food-card" style="max-width: 400px; margin: 0 auto">
    <header class="w3-center">
        <h3>Zutat <?php echo $this->isNew ? 'Neu' : '' ?></h3>
    </header>
    <div class="w3-container">
        <?= $this->form($this->foodRawForm) ?>
    </div>
</div>
