<?= $this->headTitle('Zutat Inhaltsstoffe') ?>
<div id="app">
    <h1>Zutat Inhaltsstoffe</h1>
    <table class="w3-table-all w3-table-all food-bg-secondary">
        <thead>
        <tr>
            <th>Name de</th>
            <th>Name en</th>
            <th>Name scient</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><?= $this->foodRaw['food_raw_name_de'] ?></td>
            <td><?= $this->foodRaw['food_raw_name_en'] ?></td>
            <td><?= $this->foodRaw['food_raw_name_scient'] ?></td>
        </tr>
        </tbody>
    </table>

    <div>&nbsp;</div>

    <table class="w3-table-all w3-table-all food-bg-secondary">
        <thead>
        <tr>
            <th colspan="4">Inhaltsstoffe</th>
        </tr>
        <tr>
            <th>Name de</th>
            <th>Name en</th>
            <th>Name scient</th>
            <th title="pro 100g">quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="rawPart in rawParts">
            <td>{{rawPart.food_ingrdnt_name_de}}</td>
            <td>{{rawPart.food_ingrdnt_name_en}}</td>
            <td>{{rawPart.food_ingrdnt_name_scient}}</td>
            <td>
                <div class="w3-bar">
                    <input type="text" class="w3-input w3-bar-item" :id="'input_part_qntty_' + rawPart.food_raw_part_uuid"
                           :value="rawPart.food_raw_part_qntty" style="width: 100px">
                    <button type="button" class="w3-button w3-bar-item w3-blue-gray button_part_qntty"
                            :id="rawPart.food_raw_part_uuid"
                            v-on:click="updateFoodRawPartQuantity(rawPart.food_raw_part_uuid)">
                        <i class="far fa-save"></i></button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div>&nbsp;</div>

    <button onclick="document.getElementById('add_ingrdnt_modal').style.display = 'block'"
            class="w3-button w3-right w3-blue-gray"><i class="fas fa-plus"></i></button>

    <div id="add_ingrdnt_modal" class="w3-modal">
        <div class="w3-modal-content food-bg-secondary">
            <header class="w3-container">
            <span onclick="document.getElementById('add_ingrdnt_modal').style.display='none'"
                  class="w3-button w3-display-topright"><i class="fas fa-times"></i></span>
                <h2>add ingredient</h2>
            </header>
            <div class="w3-container">
                <div class="w3-bar">
                    <form>
                        <input type="text" id="ingrdnt_name" class="w3-input w3-bar-item" style="width: 200px">
                        <span class="w3-bar-item">&nbsp;</span>
                        <select class="w3-select w3-bar-item">
                            <option value="1">eins</option>
                            <option value="2">zwei</option>
                        </select>
                        <button type="button" v-on:click="fetchFoodIngrdnts" class="w3-button w3-blue-gray w3-right">search</button>
                    </form>
                </div>
                <table class="w3-table w3-table-all food-bg-secondary">
                    <thead>
                    <tr>
                        <th style="width: 100px"></th>
                        <th>name de</th>
                        <th>name en</th>
                        <th>name scient</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="ingrdnt in ingrdnts" v-if="ingrdnt?.food_ingrdnt_id !== 0">
                        <td>
                            <div class="w3-bar">
                                <input type="text" v-bind:id="ingrdnt.food_ingrdnt_id" class="w3-input w3-bar-item"
                                       style="padding: 4px 8px; width: 40px">
                                <button v-on:click="insertFoodRawPart(ingrdnt.food_ingrdnt_id)"
                                        class="w3-button w3-bar-item w3-blue-gray ingrdnt-insert" style="padding: 4px 8px">
                                    <i class="fas fa-plus"></i></button>
                            </div>
                        </td>
                        <td>{{ ingrdnt.food_ingrdnt_name_de }}</td>
                        <td>{{ ingrdnt.food_ingrdnt_name_en }}</td>
                        <td>{{ ingrdnt.food_ingrdnt_name_scient }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <footer>&nbsp;</footer>
        </div>
    </div>
</div>

<script>
    const RawPartApp = {
        data() {
            return {
                rawUuid: '<?= $this->foodRaw['food_raw_uuid'] ?>',
                rawParts: [
                    {
                        food_ingrdnt_id: 0,
                        food_ingrdnt_name_de: '',
                        food_ingrdnt_name_en: '',
                        food_ingrdnt_name_scient: '',
                        food_ingrdnt_order_priority: 0,
                        food_ingrdnt_require: true,
                        food_raw_part_qntty: 0,
                        food_raw_part_uuid: '',
                        food_raw_uuid: '',
                    }
                ],
                ingrdnts: [
                    {
                        food_ingrdnt_id: 0,
                        food_ingrdnt_name_de: '',
                        food_ingrdnt_name_en: '',
                        food_ingrdnt_name_scient: '',
                        food_ingrdnt_require: true,
                        food_ingrdnt_order_priority: 0
                    }
                ]
            }
        },
        mounted() {
            this.fetchFoodRawParts();
        },
        methods: {
            fetchFoodRawParts() {
                const app = this;
                $.ajax({
                    url: '/api-food-rawpart/' + this.rawUuid,
                    success: function (data, textStatus, jqXHR) {
                        app.rawParts = data.arr;
                    }
                });
            },
            fetchFoodIngrdnts() {
                const app = this;
                let query = '?ingrdnt_name=' + $('input#ingrdnt_name').val();
                query += '&raw_uuid=' + this.rawUuid;
                $.ajax({
                    url: '/api-food-ingrdnt' + query,
                    success: function (data, textStatus, jqXHR) {
                        app.ingrdnts = data.arr;
                    }
                });
            },
            insertFoodRawPart(ingrdntId) {
                const app = this;
                const data = new FormData();
                data.append('food_raw_uuid', this.rawUuid);
                data.append('food_ingrdnt_id', ingrdntId);
                data.append('food_raw_part_qntty', $('input#' + ingrdntId).val());
                $.ajax({
                    method: 'post',
                    url: '/api-food-rawpart',
                    data: data,
                    processData: false, // wegen FormData
                    contentType: false, // wegen FormData
                    success: function (data, textStatus, jqXHR) {
                        app.fetchFoodRawParts();
                        app.ingrdnts = data.arr;
                    }
                });
            },
            updateFoodRawPartQuantity(rawPartUuid) {
                const app = this;
                const data = new FormData();
                data.append('part_uuid', rawPartUuid);
                data.append('part_qntty', $('input#input_part_qntty_' + rawPartUuid).val());
                $.ajax({
                    method: 'post',
                    url: '/apix-food-raw-part-update-quantity',
                    data: data,
                    processData: false, // wegen FormData
                    contentType: false, // wegen FormData
                    success: function (data, textStatus, jqXHR) {
                        if (data.success === 1) {
                            $('input#input_part_qntty_' + rawPartUuid).css('background-color', 'green');
                            setTimeout(function () {
                                $('input#input_part_qntty_' + rawPartUuid).css('background-color', '#777777');
                            }, 1000);
                            app.fetchFoodRawParts();
                        }
                    }
                });
            }
        }
    }

    Vue.createApp(RawPartApp).mount("#app");

</script>
