<?= $this->headTitle('Zutaten') ?>
<h1>Zutaten</h1>
<?php if ($this->raws): ?>
  <table class="w3-table w3-table-all food-bg-secondary">
    <thead>
    <tr class="">
      <th style="width: 40px">
        <form method="post" style="display: inline-block">
          <input type="text" name="raw_name" style="width: 100px" value="<?= $this->rawName ?>" class="">
          <button type="submit" class="w3-hide"></button>
        </form>
      </th>
      <th>name de</th>
      <th>name en</th>
      <th>name scient</th>
      <th>desc</th>
      <th>Einheit</th>
      <th>Gramm pro Einheit</th>
    </tr>
    </thead>
    <tbody>
    <?php foreach ($this->raws as $raw): ?>
      <tr>
        <td title="<?= $raw['food_raw_uuid'] ?>">
          <div class="w3-bar">
            <a href="<?= $this->url('fundela_foodadmin_raw_form', ['food_raw_uuid' => $raw['food_raw_uuid']]) ?>"
               class="w3-button w3-bar-item w3-blue-gray" style="padding: 4px 8px"><i class="far fa-edit"></i></a>
            <a href="<?= $this->url('fundela_foodadmin_raw_rawparts', ['food_raw_uuid' => $raw['food_raw_uuid']]) ?>"
               class="w3-button w3-bar-item w3-blue-gray" style="padding: 4px 8px"><i class="fas fa-sitemap"></i></a>
          </div>
        </td>
        <td><?= $raw['food_raw_name_de'] ?></td>
        <td><?= $raw['food_raw_name_en'] ?></td>
        <td><?= $raw['food_raw_name_scient'] ?></td>
        <td><?= $raw['food_raw_desc'] ?></td>
        <td><?= $raw['quantityunit_label'] ?></td>
        <td><?= $raw['quantityunit_gram'] ?></td>
      </tr>
    <?php endforeach; ?>
    <tr>
      <td>
        <form method="post">
          <input type="number" step="1" min="2" name="limit_post" style="width: 40px" value="<?= $this->limit ?>" class="w3-input padding-block">
          <button type="submit" class="w3-hide">ok</button>
        </form>
      </td>
      <td colspan="5">
          <?= $this->paginationControl($this->pgntor, 'Sliding', 'pagination/simple-query',
              ['route' => 'fundela_foodadmin_raw_raws', 'listQueryBase' => $this->listQueryBase])
          ?>
      </td>
    </tr>
    </tbody>

  </table>
<?php else: ?>
  <p>nothing found</p>
<?php endif; ?>
