<?php
echo $this->doctype();
?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle('ZF Skeleton Application')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/favicon.ico'])
        ->appendStylesheet($this->basePath('/js/jquery/jquery-ui.min.css'))
        ->appendStylesheet($this->basePath('/js/jquery/jquery-ui.structure.min.css'))
        ->appendStylesheet($this->basePath('/js/jquery/jquery-ui.theme.min.css'))
        ->appendStylesheet($this->basePath('/fonts/fontawesome/css/all.css'))
        ->appendStylesheet($this->basePath('/css/style.css?v=0.0.1'))
    ?>

    <?= $this->inlineScript()
        ->appendFile($this->basePath('js/jquery/jquery.min.js'))
        ->appendFile($this->basePath('js/jquery/jquery-ui.min.js'))
        ->appendFile($this->basePath('/js/app/datepicker-de.js'))
        ->appendFile($this->basePath('/js/app/etc.js?v=0.0.1'))
        ->appendFile($this->basePath('/js/app/global.js?v=0.0.1'))
    ?>
</head>
<body><?php echo $this->content; ?>
</body>
</html>
