<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 */
?>
<?= $this->doctype() ?>
<html lang="de">
<head>
    <meta charset="utf-8">
    <?= $this->headTitle('Food')->setSeparator(' - ')->setAutoEscape(false) ?>

    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <?php
    $this->headScript()
        ->appendFile($this->basePath('js/vue3.min.js?v=3.2.47'))
//        ->appendFile($this->basePath('js/react.js'))
//        ->appendFile($this->basePath('js/react-dom.js'))
        ->appendFile($this->basePath('js/jquery/jquery.min.js?v=3.6.3'))
        ->appendFile($this->basePath('js/jquery/jquery-ui.min.js?v=1.13.2'))
        ->appendFile($this->basePath('lightbox2/js/lightbox.js'))
        ->appendFile($this->basePath('js/app/modules/common-gui.js'), 'module')
    //        ->appendFile('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js')
    ?>

    <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/favicon.ico'])
        ->appendStylesheet($this->basePath('css/w3schools.css'))
//        ->appendStylesheet($this->basePath('css/w3-theme-deep-orange.css'))
        ->appendStylesheet($this->basePath('css/w3-theme-green.css'))
        ->appendStylesheet($this->basePath('font/fontawesome/css/all.css'))
        ->appendStylesheet($this->basePath('js/jquery/jquery-ui.min.css?v=1.13.2'))
        ->appendStylesheet($this->basePath('lightbox2/css/lightbox.css'))
        ->appendStylesheet($this->basePath('css/style.css'))
    ?>

    <?= $this->headScript() ?>
</head>
<body class="w3-theme-l4">
<nav class="w3-bar w3-theme-d4">
    <a href="<?= $this->url('home') ?>" class="w3-bar-item w3-button w3-mobile" title="zur Startseite"><i
                class="fas fa-home"></i></a>
    <a href="<?= $this->url('fundela_foodfront_food_foodrecipefront_recipes') ?>"
       class="w3-bar-item w3-button w3-mobile" title="Rezept Suche">
        <i class="fas fa-utensils"></i> Rezepte
    </a>
    <?php if ($this->isUserInRole(5)): ?>
        <a href="<?= $this->url('fundela_foodback_foodrecipe_form') ?>" class="w3-bar-item w3-button w3-mobile"
           title="Rezept Neu">
            <i class="fas fa-plus"></i>&nbsp;<i class="fas fa-utensils"></i> Neues Rezept
        </a>
    <?php endif; ?>
    <a href="<?= $this->url('content', ['name' => 'foss']) ?>" class="w3-bar-item w3-button w3-mobile"
       title="FOSS Nutrition Recipes">
        Open Source
    </a>
    <div class="w3-right w3-mobile">
        <a href="<?= $this->fullUrl ?>?lang=de" class="w3-bar-item w3-button w3-mobile"
           title="German">
            <img src="/img/de.svg" alt="germany flag" class="lang-img<?php echo $this->lang != 'de' ? ' lang-opacity':'' ?>">
        </a>
        <a href="<?= $this->fullUrl ?>?lang=en" class="w3-bar-item w3-button w3-mobile"
           title="German">
            <img src="/img/en.svg" alt="england flag" class="lang-img<?php echo $this->lang != 'en' ? ' lang-opacity':'' ?>">
        </a>
        <?php if ($this->isUserInRole(4)): ?>
            <div class="w3-dropdown-click w3-mobile" onclick="dropdownClick('dropdown_author')">
                <button class="w3-button">Autor <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4" id="dropdown_author">
                    <a href="<?= $this->url('fundela_foodadmin_raw_raws') ?>" class="w3-bar-item w3-button w3-mobile">Zutaten</a>
                    <a href="<?= $this->url('fundela_foodadmin_raw_form') ?>" class="w3-bar-item w3-button w3-mobile">Zutat
                        Neu</a>
                    <hr class="hr-dropdown">
                    <a href="<?= $this->url('fundela_foodadmin_ingrdnt_ingrdnts') ?>"
                       class="w3-bar-item w3-button w3-mobile">Inhaltsstoffe</a>
                    <a href="<?= $this->url('fundela_foodadmin_ingrdnt_form') ?>"
                       class="w3-bar-item w3-button w3-mobile">Inhaltsstoff Neu</a>
                </div>
            </div>
        <?php endif; ?>
        <?php if ($this->isUserInRole(5)): ?>
            <a href="<?= $this->url('fundela_foodfront_user_userbasics_logout') ?>"
               class="w3-bar-item w3-button w3-mobile">
                logout [<?= $this->userLogin() ?>]
            </a>
        <?php else: ?>
            <a href="<?= $this->url('fundela_foodfront_user_userbasics_login') ?>"
               class="w3-bar-item w3-button w3-mobile login-button">login</a>
        <?php endif; ?>
    </div>
</nav>
<div class="w3-container" id="content_main">
    <?= $this->content ?>
</div>
<footer class="w3-bar w3-theme-l2" id="footer_main">
    <a href="/c/legal-notice" class="w3-bar-item">legal notice</a>
    <a href="<?= $this->url('fundela_foodfront_food_foodrecipefront_recipes_all') ?>"
       class="w3-bar-item"><?= $this->translate('recipes all', 'food') ?></a>
</footer>
<?= $this->showMessage($this->message) ?>
<?= $this->inlineScript()
    ->appendFile($this->basePath('js/app/trinket.js')) ?>
</body>
</html>
