<h1>FOSS</h1>

<p>
    <strong>F</strong>ree <strong>O</strong>pen <strong>S</strong>ource <strong>S</strong>oftware
    <br>
    <br>
    Open NutriRecipe is FOSS, why ...why not :)
    <br>
    The code is at <a href="https://gitlab.com/fundela/food" target="_blank"><i class="fab fa-gitlab"></i> GitLab</a>.
    <br>
    Wenn jemand meine Arbeit unterstützen möchte - ich habe da noch ein FOSS ERP System entwickelt
    und eine Kassenbuchsoftware und manchmal bin ich auf der Suche nach neuer Arbeit.
    <br>
    If anyone wants to support my work - I have also developed a FOSS ERP system
    and a cash book software and sometimes I am looking for new work.
    <br>
    <a href="https://torsten.bitkorn.de" target="_blank">Torsten Brieskorn</a>
</p>
