<script>
    let varO = 'nutrirecipe';
</script>
<h1>Legal Notice | Impressum</h1>
<div>
    <h3>Angaben gemäß § 5 TMG:</h3>
    <p>
        Torsten Brieskorn
        <br>
        Rudakmühle-Weiler 5<br>
        02906 Hohendubrau OT Groß Saubernitz<br>
        Sachsen BRD
    </p>
    <p>
        <strong>Kontakt:</strong><br>Tel.: 01579 232 1667<br>
        Email: <span onclick="window.location.href = 'mailto:' + 'torsten' + '@' + varO + '.org'"
                     class="cursor-pointer w3-border w3-round">Hier klicken um eine E-Mail zu senden</span>
    </p>
    <p>
        <strong>Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV:</strong><br>
        Torsten Brieskorn, Adresse wie oben</p>
    <p>
        <strong>Hinweis zur Online-Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO und § 36 VSBG:</strong><br>
        Die Europäische
        Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die du unter <a
                href="https://ec.europa.eu/consumers/odr/" target="_blank" title="Online-Streitbeilegung">https://ec.europa.eu/consumers/odr/</a>
        findest. Ich bin grundsätzlich bereit, an einem außergerichtlichen Schlichtungsverfahren vor einer
        Verbraucherschlichtungsstelle teilzunehmen.
    </p>
</div>
