<header class="w3-center">
    <h1>Open NutriRecipe</h1>
    <h2>Rezepte mit Nährwerten/Inhaltsstoffen</h2>
    <h2>Recipes with nutritional values/ingredients</h2>
</header>

<p class="w3-justify">
    Open Nutrient Recipe began zusammen mit einem Praktikanten, der ein Informatik Studium machte.
    Die Idee hatte ich schon länger im Kopf, weil mir bei den Online Rezeptsammlungen die Nährwerte fehlen.
    Es gibt eine Datenbank mit Zutaten.
    Jede Zutat kennt ihre Nährwerte.
    Aus den Zutaten werden Rezepte erstellt - in denen die Summe der Nährwerte stehen.
    Das Suchergebnis kann man nach jedem Nährwert sortieren.
    Folgende Nährwerte gibt es:
</p>
<ul class="w3-ul">
    <li>Energie - energy / kJ</li>
    <li>Fett - fat</li>
    <li>Kohlehydrate - carb</li>
    <li>Ballaststoffe - fibers</li>
    <li>Eiweis - protein</li>
</ul>

<p class="w3-justify">
    Als registrierter und eingeloggter User kannst du selber Rezepte anlegen.
    Für jedes Rezept werden automatisch die Inhaltsstoffe pro 100 g berechnet.
    <br>
    Fehlen dir Zutaten um ein Rezept zusammen zu stellen?
    Mach einen Zutatenvorschlag und ich recherchiere die Nährwerte.
    Oder du hast die Zutat schon mit Nährwertangaben.
    <br>
    Wenn sich jemand berufen fühlt, so eine Zutaten-Nährwert Datenbank selber zu erweitern,
    freue ich mich selbstverständlich über diese Arbeitsteilung. Geb mir einfach Bescheid -
    mit ein paar Angaben zu dir und warum du zu so etwas Lust hast - dann richte ich ein Admin Account ein.
</p>
<p class="w3-center w3-xlarge">
    <a href="<?= $this->url('fundela_foodfront_food_foodrecipefront_recipes') ?>" class="w3-button">
        <i class="fas fa-utensils"></i>&nbsp;zu den Rezepten
    </a>
</p>
