<?= $this->headTitle('Login') ?>
<div class="w3-card-4 food-card" style="width: 260px; margin: 0 auto">
    <header class="w3-center">
        <h3>login</h3>
    </header>
    <div class="w3-container">
        <form method="post" class="w3-container">
            <label for="username">Username</label>
            <input class="w3-input" type="text" id="username" name="username" value="<?= $this->username ?>">

            <label for="password">Passwort</label>
            <input class="w3-input" type="password" id="password" name="password">

            <div>
                <br>
                <button type="submit" class="w3-button w3-blue-gray">login</button>
                <br>
                <p class="w3-small">Noch kein Benutzerkonto?<br><a href="<?= $this->url('fundela_foodfront_user_userbasics_register') ?>">Hier registrieren!</a></p>
            </div>
        </form>
    </div>
</div>
