<?= $this->headTitle('registrieren') ?>
<div class="w3-card-4 food-card" style="width: 340px; margin: 0 auto">
    <header class="w3-center">
        <h3>User Registrierung</h3>
    </header>
    <div class="w3-container">
        <?= $this->form($this->userForm) ?>
    </div>
</div>
